@import '../../assets/Fonts/stylesheet.css';
@import './Reset.scss';
@import './sidebar.scss';
@import './additional.scss';
@import './brandRibbon.scss';
@import './feedback.scss';
@import './navItemEquip.scss';
@import './costForm.scss';
@import './header.scss';
@import './main.scss';
@import './footer.scss';
@import './media.scss';

$color1: #7e7e82;
$color2: #1b1c21;
$color3: #ffffff;
$color4: #eaeaea;
$color5: #f8f8f8;

html,
body {
  height: 100%;
  min-height: 100%;
}
